~$archingForSearch.docx
perl.exe.stackdump
SearchSample/SearchSample/bin/
SearchSample/SearchSample/obj/
BingAsAPI/BingAsAPI/bin/
BingAsAPI/BingAsAPI/obj/
OCRControlSample/OCRControlSample/bin/
OCRControlSample/OCRControlSample/obj/
