<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="ba48c640-5a43-4b3f-b0e4-9f53f0e31c28"
            Publisher="CN=btsui"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>USBMissileLaunch_Blog</DisplayName>
    <PublisherDisplayName>btsui</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="USBMissileLaunch_Blog.App">
        <m2:VisualElements
            DisplayName="USBMissileLaunch_Blog"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="USBMissileLaunch_Blog"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <m2:DeviceCapability Name="humaninterfacedevice">
      <m2:Device Id="vidpid:1941 8021">
        <m2:Function Type="usage:FFA0 0001" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>